<h2>Articles</h2>
<br>
<% @articles.each do |article| %>
<h3><%= link_to article.title, article_path(article) %></h3>
<p><%= article.content[0..50] %></p>
<% end %>
<p><%= link_to "create article", new_article_path %></p>
